# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/
.next/
out/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Editor directories
.idea/
.vscode/
*.swp
*.swo
*~

# OS files
Thumbs.db
.DS_Store

# Electron
Electron/
release/

# React Native
android/
ios/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.xcconfig

# IDE
.workspace
.gradle
.classpath
.project
.settings/
*.sublime-project
*.sublime-workspace
